<div class="login modal-content__box animate_show_fadeIn">
   <div class="login-box d-f">
      <div class="login-box__logo">
         <div class="login-box__logo--img">
            <img src="../../../assets/img/login/logo.png" alt="img">
         </div>
      </div>

      <div class="login-box__form d-f f-d-c j-c-c">
         <span class="icon icon-close icon-close__modal" (click)="activeModal.dismiss()"></span>

         <div class="login-box__title">
            <h2>Установите новый пароль</h2>
            <p>Пароль не менее 8 знаков и должен содержать буквы и цифры</p>
         </div>

         <form #changePasswordForm="ngForm" >
            <div class="login-box__form--area">
               <div class="login-box__form--area-input"
                  [class.required]="fieldTouchedOrDirty(passwordInput) && passwordValidationText">
                  <p class="required-tooltip d_none">{{passwordValidationText}}</p>
                  <input #passwordInput="ngModel" [(ngModel)]="password" (input)="checkPassword()" type="password"
                     name="passwordInput" id="passwordInput" (focus)="checkPassword()" placeholder="Новый пароль"
                     required />
               </div>

               <div class="login-box__form--area-input"
                  [class.required]="fieldTouchedOrDirty(passwordInput) && passwordValidationText">
                  <p class="required-tooltip d_none">{{confirmationPasswordValidationText}}</p>
                  <input #rePasswordInput="ngModel" name="reNewPasswordInput" type="password" id="reNewPasswordInput"
                     [(ngModel)]="passwordConfirmation" (input)="checkConfirmationPassword()"
                     (focus)="checkConfirmationPassword()" placeholder="Подтверждение нового пароля" required />
               </div>
            </div>

            <div class="login-box__btn btn-global">
               <button class="btn-global__red" type="button"
                  [disabled]="!passwordsAreCorrect" (click)="goToChangePassword()">ВОЙТИ</button>
            </div>
         </form>
      </div>
   </div>
</div>