<div class="login modal-content__box animate_show_fadeIn">
   <div class="login-box d-f">
      <div class="login-box__logo">
         <div class="login-box__logo--img">
            <img src="../../../assets/img/login/logo.png" alt="img">
         </div>
      </div>
      <div class="login-box__form d-f f-d-c j-c-c">
         <span class="icon icon-close icon-close__modal" (click)="activeModal.dismiss()"></span>
         <a href="#" class="login-box__back d-f a-i-c" (click)="activeModal.dismiss(); openModalLogin()">
            <i class="new-icon new-icon-arrow__left"></i> <span>К авторизации</span>
         </a>
         <div class="login-box__title">
            <h2>Вход</h2>
            <p>Ваши юридические лица:</p>
         </div>
         <div class="login-box__form--faces">
            <a href="#" class="login-box__form--faces-link d-f a-i-c">
               <div class="login-box__form--faces-link__img">
                  <img src="../../../assets/img/login/avatar.svg" alt="avatar">
               </div>
               <div class="login-box__form--faces-link__info">
                  <p class="login-box__form--faces-link__info--title">ООО Спецстрой</p>
                  <p class="login-box__form--faces-link__info--inn">ИНН 772161938188</p>
               </div>
            </a>
            <a href="#" class="login-box__form--faces-link d-f a-i-c">
               <div class="login-box__form--faces-link__img">
                  <img src="../../../assets/img/login/avatar.svg" alt="avatar">
               </div>
               <div class="login-box__form--faces-link__info">
                  <p class="login-box__form--faces-link__info--title">ООО Спецстрой Два Ноль ноль Спецстрой Два Ноль</p>
                  <p class="login-box__form--faces-link__info--inn">ИНН 772161938188</p>
               </div>
            </a>
         </div>
      </div>
   </div>
</div>