:root {
    --global_color: #A6093D;
    --global_color_hover: #CD123F;
    --black_color: #232C31;
    --grey_color: #3C444B;
    --green_color: #5AB031;

    
    // эти перемние только для header
    --global_color_header: #A6093D;
    --global_black_color_header: #0E1112;
    --global_color_header_for_hover: #CD123F;
    --nav_bg: #F7F8F9;
    --nav_dropdown_bg: #F7F8F9;
    --nav_text_color: #232C31;
    --navbar_bg: #F5F5F5;
    --navbar_dropdown_bg: #FFFFFF;
    --navbar_text_color: #232C31;
    --content_bg: #232C31;
    --search_input_color: #232C31;
    --user_money_balance_color: #AFB6BD; 
    --user_money_credit_color: #FFFFFF; 
    --dropdown_bg: #3C444B;
    --login_btn_bg: #3C444B;
    --catalog_color_text: #232C31;
}
