<div class="thank-modal modal-content__box animate_show_fadeIn">
    <div class="thank-modal__container">
        <span class="icon icon-close icon-close__modal" (click)="activeModal.dismiss()"></span>
        <div class="thank-modal__container--title">
            <h2><span class="green_color">Сообщение отправлено</span></h2>
        </div>

        <div class="thank-modal__container--text">
            <p>Спасибо, что помогаете сделать<br>МаксиПРО лучше!</p>
        </div>

        <div class="thank-modal__container--btn d-f j-c-e">
            <button (click)="activeModal.close()">закрыть</button>
        </div>
    </div>
</div>