@import '../styles/base/shared';

.order-templates__details {
    margin-top: 22px;
    margin-bottom: 37px;

    &--edit {
        padding-left: 15px;

        @include sm {
            padding-left: 0;
            margin-top: 15px;
        }

        .icon {
            font-size: 17px;
            color: #8fa2a7;
            margin-right: 6px;
        }

        span {
            font: 13px $Regular;
            color: $second_color;
            text-decoration: underline;
        }
    }

    &--price {
        color: $second_color;
        padding-left: 15px;

        h4 {
            @include sm {
                display: block;
            }

            span {
                font: 13px $Bold;
                margin-right: 6px;
            }

            p {
                font: 18px $Bold;
                white-space: nowrap;
            }
        }


    }

    &--input {
        max-width: 368px;
        @include wh(100%, 40px);
        margin-top: 19px;

        input {
            @include wh(100%);
            font: 18px $Regular;
            color: $second_color;
            padding: 18px 14px;
        }
    }


    &--add {
        margin: 26px 0;

        @include sm {
            flex-direction: column-reverse;
        }

        h3 {
            font: 15px/20px $Regular;
            color: #8fa2a7;

            a {
                color: var(--global_color);
                text-decoration: underline;
            }
        }
    }

    &--btn {
        max-width: 219px;
        @include wh(100%, 45px);
        margin-left: auto;

        @include xs {
            max-width: 100%;
        }
    }


    .order-list {
        padding: 35px 15px 41px;

        &__title {
            margin-bottom: 26px;

            @include sm {
                align-items: flex-end;
            }

            h2 {
                font: 15px $Bold;
                color: $second_color;
                letter-spacing: 0.75px;
                text-transform: uppercase;
            }
        }

        &__table {

            @include sm {
                overflow-x: auto;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            &--main {
                @include sm {
                    width: 1280px;
                }
            }

            table {
                table-layout: fixed;

                tr {

                    th {
                        font: 13px $Semibold;
                        letter-spacing: 0.65px;
                        color: rgba(47, 64, 69, 0.5);
                        vertical-align: middle;
                        text-transform: uppercase;
                        white-space: nowrap;
                    }

                    td {
                        font: 16px $Regular;
                        color: $second_color;
                        padding: 5px 0;
                        vertical-align: middle;

                        .order-list__table--img {
                            @include wh(120px);
                            margin-right: 13px;

                            @include lg {
                                @include wh(60px);
                            }
                        }

                        .order-list__table--link {
                            width: 299px;

                            a {
                                font: 16px/22px $Regular;
                                color: var(--black_color);
                                transition: $transition;

                                &:hover {
                                    color: var(--global_color);
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }

            &--tint {
                border: 0 !important; // pending changes ...

                td {
                    padding: 0 !important; // pending changes ...
                    padding-bottom: 40px !important; // pending changes ...
                }

                &-box {
                    margin-left: 133px;
                    padding: 17px;
                    background: #F7F8F9;

                    @include xs {
                        padding: 8px 13px;
                    }

                    &__title {
                        &--list {
                            font: 16px $Regular;
                            white-space: nowrap;

                            &+.order-list__table--tint-box__title--list {
                                margin-left: 45px;
                            }

                            p {
                                color: rgba(0, 0, 0, 0.6);
                                margin-right: 4px;
                            }

                            span {
                                color: #000000;
                            }
                        }
                    }

                    &__count {
                        width: 50%;
                        padding-left: 80px;

                        @include lg {
                            padding-left: 0;
                        }

                        &--list {
                            width: 25%;
                        }

                        &--sum {
                            text-align: right;
                        }
                    }
                }
            }
        }
    }

    &--discontinued {
        background: #F0F1F2;
        border-radius: 10px;

        .order-list__title {
            h2 {
                color: #AFB6BD;
            }
        }

        &-img {
            opacity: .2;
        }

        &-btn {
            @include wh(150px, 38px);
        }

        &-icon {
            font-size: 12px;
            color: #AFB6BD;
        }
    }

}

.basket {
    margin-top: 29px;


    @include lg {
        &-content {
            display: block;
        }
    }

    &-discount-print {
        width: calc(100% - 500px);
        margin-bottom: 16px;

        @include lg {
            width: 100%;
        }

        @include xs {
            display: block;
        }
    }

    &-discount {
        position: relative;

        @include xs {
            margin-bottom: 16px;

            .tooltip-content {
                display: none;
            }
        }

        h3 {
            background-color: rgba(#49A71C, .1);
            color: #49A71C;
            padding: 5px 14px;
            border-radius: 4px;
            cursor: pointer;

            p {
                font: 14px $Regular;
                margin-right: 6px;
            }

            span {
                font: 16px $Bold;
            }
        }
    }

    &-print {
        margin-left: auto;

        &__box {
            position: relative;

            &+& {
                margin-left: 20px;
            }

            &:hover &--dropdown {
                display: block;
            }

            &--link {
                color: $second_color;
                transition: $transition;
                cursor: pointer;

                &:hover {
                    color: var(--global_color);
                }

                .icon {
                    font: 21px $Bold;
                    margin-right: 5px;
                }

                span {
                    font: 16px $Bold;
                }
            }

            &--dropdown {
                width: 235px;
                position: absolute;
                top: calc(100% + 12px);
                left: 0;
                background-color: white;
                border: 1px solid #AFB6BD;
                box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.04), 0px 12px 16px rgba(0, 0, 0, 0.02), 0px 8px 20px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.12);
                padding: 16px 20px;
                display: none;
                z-index: 9999999;

                &::before {
                    content: "";
                    position: absolute;
                    top: -12px;
                    left: 0;
                    @include wh(100%, 12px);
                }

                @include lg {
                    left: auto;
                    right: 0;
                }

                &-link {
                    font: 15px $Regular;
                    color: var(--black_color);

                    &+& {
                        margin-top: 12px;
                    }

                    &:hover {
                        color: var(--global_color_hover);
                    }
                }
            }
        }
    }

    &-products {
        width: calc(100% - 500px);
        height: 100%;
        border: solid 1px #ebebeb;
        border-right: 0;
        background-color: #ffffff;

        @include lg {
            width: 100%;

            &__issue {
                display: block;
            }
        }

        &__sum {
            padding: 20px;
            border-bottom: 1px solid #ebebeb;

            @include sm {
                padding-left: 15px;
                padding-right: 15px;
            }


            ul {
                li {
                    min-height: 30px;

                    h3 {
                        font: 15px $Bold;
                        color: $second_color;
                        letter-spacing: 0.75px;
                        text-transform: uppercase;

                        @include xs {
                            font-size: 12px;
                        }
                    }

                    h4 {
                        font: 24.5px $Semibold;
                        color: #3b474e;

                        @include sm {
                            font-size: 18px;
                        }
                    }

                    .new-sum {
                        font: 15px $Semibold;
                    }
                }
            }
        }

        &__list {
            &--title {
                min-height: 36px;
                background-color: #f7f8f8;
                padding: 0 19px;
                font: 13px $Semibold;
                color: $second_color;
                letter-spacing: 0.65px;
                text-transform: uppercase;
                border-bottom: 1px solid #ebebeb;
            }

            &--item {
                padding: 30px 15px;
                border-bottom: 1px solid #ebebeb;
                position: relative;

                @include xs {
                    flex-wrap: wrap;
                    padding: 40px 15px 25px;
                }

                &-img {
                    @include wh(19%, 120px);
                    margin-right: 14px;
                    transition: $transition;

                    @include xs {
                        width: 100%;
                        margin-right: 0;
                        margin-bottom: 15px;
                    }

                    a {
                        @include wh(100%);
                    }

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                &-info {
                    width: 57%;
                    padding-right: 10px;

                    @include xs {
                        width: 100%;
                        padding-right: 0;
                    }

                    &__name {
                        margin-bottom: 17px;

                        a {
                            font: 17.5px $Regular;
                            color: $second_color;
                            line-height: 1.26;
                            transition: $transition;

                            @include xs {
                                font-size: 13px;
                            }

                            &:hover {
                                color: var(--global_color);
                            }
                        }
                    }

                    &__tint {
                        margin-bottom: 26px;

                        h3 {
                            p {
                                font: 14px $Regular;
                                color: #797F83;
                                margin-right: 4px;
                            }

                            span {
                                font: 15px $Regular;
                                color: var(--black_color);
                            }
                        }
                    }

                    &__text {
                        margin-bottom: 17px;

                        @include xs {
                            display: block;
                        }

                        &--vendorcode {
                            margin-right: 14px;

                            @include xs {
                                margin-right: 0;
                            }

                            p {
                                font: 13px $Semibold;
                                color: rgba(47, 64, 69, .5);
                                text-transform: uppercase;

                                @include xs {
                                    font-size: 12px;
                                    text-transform: none;
                                }

                                span {
                                    font-size: 15.5px;
                                    color: $second_color;
                                    border-bottom: .5px solid rgba($second_color, .5);
                                    display: inline-block;
                                    line-height: 1;
                                    margin-left: 5px;

                                    @include xs {
                                        font-size: 12.5px;
                                    }
                                }
                            }
                        }

                        &--remainder {
                            text-transform: uppercase;

                            @include xs {
                                margin-top: 10px;
                                text-transform: none;
                            }

                            p {
                                font: 13px $Semibold;
                                color: rgba(47, 64, 69, .5);

                                @include xs {
                                    font-size: 12px;
                                }

                                span {
                                    color: #7bb51c;
                                    display: inline-block;
                                    margin-left: 6px;
                                }
                            }
                        }
                    }

                    &__data {

                        &--select {
                            width: 158px;
                            margin-right: 17px;
                        }

                        &--counter {

                            @include xs {
                                display: none;
                            }

                            .px-counter {
                                height: 35px;
                                margin-right: 0;
                            }
                        }

                        @include xs {
                            .tooltip {

                                &-list__item--content {
                                    transform: translateX(-93%);
                                }

                                .triangle-down::before {
                                    left: auto;
                                    right: 15px;
                                }
                            }
                        }
                    }
                }

                &-price {
                    width: 24%;

                    @include xs {
                        width: 100%;
                        margin-top: 18px;

                        .basket-products__list--item-info__data--counter {
                            display: block;
                        }
                    }

                    &__sum {
                        width: 100%;
                        text-align: right;
                        margin-bottom: 15px;

                        p {
                            font: 25px/20px $Semibold;
                            color: var(--black_color);
                        }

                        span {
                            font: 10px $Semibold;
                            color: #9A9A9A;
                            text-transform: uppercase;
                        }
                    }

                    &__tint {
                        margin-bottom: 22px;
                        text-align: right;

                        h3 {
                            p {
                                font: 13px $Semibold;
                                color: #AFB6BD;
                                letter-spacing: .03em;
                                text-transform: uppercase;
                                white-space: nowrap;
                                margin-right: 8px;
                            }

                            span {
                                font: 16px $Semibold;
                                color: var(--black_color);
                            }
                        }

                        span {
                            font: 10px $Semibold;
                            color: #9A9A9A;
                            text-transform: uppercase;
                        }
                    }

                    &__info {
                        width: 100%;

                        @include sm {
                            margin-bottom: 15px;
                        }

                        ul {

                            li {
                                @include sm {
                                    justify-content: flex-start;
                                }

                                &+li {
                                    margin-top: 5px;
                                }

                                p {
                                    font: 13px $Semibold;
                                    color: #AFB6BD;
                                    letter-spacing: .03em;
                                    text-transform: uppercase;
                                    white-space: nowrap;
                                }

                                span {
                                    font: 15px $Regular;
                                    color: $second_color;
                                    text-transform: uppercase;
                                    margin-left: 7px;
                                    white-space: nowrap;
                                }
                            }
                        }
                    }
                }

                .icon-close__remove {
                    @include wh(12px);
                    top: 15px;
                    right: 15px;
                    color: #8fa2a7;
                    font-size: 12px;
                }
            }
        }

        &__issue {
            padding: 30px;
            box-shadow: 0px -3px 24px 0 rgba(0, 0, 0, 0.11);
            background-color: #f7f8f8;

            &--btn {
                @include wh(100%, 44px);
                margin: auto;
            }
        }

        &__discontinued {
            background-color: #F0F1F2;

            &--title {
                min-height: 36px;
                padding: 0 19px;
                font: 13px $Semibold;
                color: #AFB6BD;
                letter-spacing: 0.65px;
                text-transform: uppercase;
            }

            &--item {
                border-bottom: none;

                &+& {
                    border-top: 1px solid white;
                }

                &-img {
                    opacity: 0.2;
                }
            }

            &--btn {
                width: 24%;

                @include xs {
                    width: 100%;
                }

                button {
                    max-width: 150px;
                    @include wh(100%, 38px);
                    background-color: #AFB6BD;
                    font: 12px $Semibold;
                    color: white;
                    border-radius: 4px;
                    letter-spacing: 0.04em;
                    text-transform: uppercase;
                    margin-left: auto;
                    display: block;

                    @include xs {
                        max-width: 100%;
                    }
                }
            }
        }
    }



    &-info {
        max-width: 500px;
        width: 100%;
        padding: 24px;
        background-color: #F7F8F9;

        @include lg {
            width: 100%;
            padding: 15px;
            padding-bottom: 0;
            display: none;
        }

        &__return {
            margin: 0 -15px;
            padding: 25px;
            box-shadow: 0px -3px 24px 0 rgba(0, 0, 0, 0.11);
            background-color: #f7f8f8;

            @include lg {
                display: block;
            }

            &--btn {
                @include wh(100%, 44px);
                margin: auto;
                font: 12px $Bold;
                color: $second_color;
                letter-spacing: 1.8px;
                border-radius: 4px;
                text-transform: uppercase;
                cursor: pointer;
                background-color: rgba(#8fa2a7, .23);
                transition: $transition;

                &:hover {
                    background-color: var(--global_color);
                    color: white;
                }
            }
        }
    }

    &-authorization {
        &__title {
            margin-bottom: 25px;

            h2 {
                font: 15px $Bold;
                color: $second_color;
                letter-spacing: 0.75px;
                text-transform: uppercase;
                margin-bottom: 20px;
                text-align: center;
            }

            p {
                font: 17px $Regular;
                color: var(--global_color);

                .icon-exclamatory__authorization {
                    margin-right: 7px;
                }
            }
        }

        &__form {
            margin-bottom: 41px;

            &--area {
                margin-bottom: 24px;

                &-label {
                    margin: 0 -6px;
                    margin-bottom: 10px;

                    label {
                        width: 50%;
                        padding: 0 6px;
                        display: block;

                        span {
                            display: block;
                            margin-bottom: 11px;
                            font: 13px $Regular;
                            color: $second_color;
                        }

                        input {
                            @include wh(100%, 41px);
                            display: block;
                            padding: 0 15px;
                        }
                    }
                }

                &-forgot {
                    text-align: right;

                    a {
                        font: 15.5px $Regular;
                        color: var(--global_color);
                        border-bottom: .5px solid rgba(var(--global_color), .5);
                        line-height: 1;
                        display: inline-block;
                    }
                }
            }

            &--login {
                margin: 0 -6px;

                &-btn {
                    @include wh(50%, 44px);
                    padding: 0 6px;
                    text-transform: uppercase;

                    &__reg {
                        @include wh(100%);
                        font: 12px $Bold;
                        color: $second_color;
                        letter-spacing: 1.8px;
                        border-radius: 4px;
                        cursor: pointer;
                        background-color: rgba(#8fa2a7, .23);
                        transition: $transition;

                        &:hover {
                            background-color: var(--global_color);
                            color: white;
                        }
                    }
                }
            }
        }
    }

    &-advantages {
        padding: 10px 0;

        &__title {
            font: 15px $Bold;
            color: #2f4045;
            letter-spacing: 0.75px;
            text-transform: uppercase;
            margin-bottom: 31px;
            text-align: center;
        }

        &__list {
            margin-bottom: 35px;

            .icon {
                color: var(--global_color);
                margin-right: 22px;

                &-service {
                    font-size: 53px;
                }

                &-goods {
                    font-size: 43px;
                }

                &-pay {
                    font-size: 44px;
                }

                &-delivery {
                    font-size: 32px;
                }
            }

            h3 {
                p {
                    font: 18px/18px $Bold;
                    color: $second_color;
                    margin-bottom: 8px;
                }

                span {
                    font: 15px $Regular;
                    color: $second_color;
                    display: block;
                }
            }
        }
    }

    &-decor {

        &__tab {
            margin: 0 -24px 25px;
            padding: 0 24px 24px;
            border-bottom: 1px solid white;

            @include lg {
                margin: -15px -15px 25px;
                padding: 24px 15px 24px;
                background-color: white;
            }

            &--list {
                margin: 0 -10px;

                &-item {
                    width: 100%;
                    padding: 0 10px;
                    text-align: center;

                    @include xs {
                        width: auto;
                        flex: 1 auto;
                    }

                    span {
                        border-bottom: 1px solid transparent;
                        font: 15.5px $Bold;
                        letter-spacing: 0.78px;
                        color: $second_color;
                        text-transform: uppercase;
                        transition: $transition;
                        cursor: pointer;

                        &:hover {
                            color: var(--global_color);
                        }
                    }

                    &.active span {
                        border-bottom: 1px solid var(--global_color);
                        color: var(--global_color);
                    }

                    &.disabled {
                        pointer-events: none;
                    }
                }
            }
        }

        &__title {
            margin-bottom: 21px;

            h2 {
                font: 15.5px $Bold;
                letter-spacing: 0.78px;
                color: $second_color;
                text-transform: uppercase;
            }
        }

        &__object {
            margin: 0 -24px 24px;
            padding: 0 24px 27px;
            border-bottom: 1px solid white;

            @include lg {
                margin: 0 -15px 24px;
                padding: 0px 15px 27px;
            }

            &--title {
                h2 {
                    margin-bottom: 19px;
                }

                p {
                    font: 17px $Regular;
                    color: $second_color;

                    .icon-exclamatory {
                        color: #b6bdbf;
                        margin-right: 8px;
                    }
                }
            }

            &--select {
                margin-bottom: 19px;

                &-title {
                    margin-bottom: 8px;

                    p {
                        font: 13px $Regular;
                        color: $second_color;

                        &.disabled {
                            color: #AFB6BD;
                        }

                        .new-icon {
                            font-size: 24px;
                            color: #afb6bd;
                            margin-left: 4px;
                        }
                    }
                }
            }

            &--create {


                a {
                    display: inline-flex;

                    .icon-createPlus {
                        font-size: 18px;
                        color: var(--global_color);
                        margin-right: 8px;
                        transition: $transition;
                    }

                    span {
                        font: 12px $Bold;
                        letter-spacing: 0.08em;
                        color: var(--global_color);
                        text-transform: uppercase;
                        transition: $transition;
                    }

                    &:hover .icon-createPlus,
                    &:hover span {
                        color: $green_color
                    }
                }
            }
        }

        &__take {
            margin-bottom: 28px;

            &--tab {
                margin-bottom: 24px;

                &-list {
                    margin: 0 -5px;

                    @include xs {
                        margin: 0;
                        display: block;
                    }

                    &__item {
                        @include wh(100%, 70px);
                        padding: 0 5px;

                        @include xs {
                            padding: 0;
                            margin: 14px 0;
                        }

                        label {
                            @include wh(100%);
                            border-radius: 10px;
                            border: solid 1px rgba(#3b474e, .3);
                            padding-left: 18px;
                            padding-right: 8px;
                            cursor: pointer;
                            position: relative;

                            .icon {
                                color: rgba($second_color, .3);
                                margin-right: 15px;
                            }

                            .icon-delivery {
                                font-size: 28px;
                            }

                            .icon-pickup {
                                font-size: 33px;
                            }

                            span {
                                font: 15.5px $Regular;
                                color: $second_color;
                            }

                            .circle {
                                @include wh(19px);
                                background-color: rgba(#7c868a, .24);
                                border-radius: 50%;
                                position: absolute;
                                top: 9px;
                                right: 9px;
                            }
                        }

                        &.active {
                            label {
                                border-color: var(--global_color);

                                .icon {
                                    color: var(--global_color);
                                }

                                span {
                                    color: var(--global_color);
                                }

                                .circle {
                                    background-color: white;
                                    border: 3.5px solid var(--global_color);
                                }
                            }
                        }
                    }
                }
            }

            &--data {
                margin: 0 -5px;

                @include xs {
                    margin: 0;
                    display: block;
                }

                .select-filter__input {
                    min-height: 41px;
                    background-color: white;
                    border: 1px solid #797F83;
                    position: relative;

                    input {
                        width: 100%;
                        padding-left: 13px;
                        background-color: transparent;
                    }

                    .ng-arrow-wrapper {
                        position: absolute;
                        top: 0;
                        right: 0;
                        pointer-events: none;
                    }

                    &.disabled {
                        background: #F7F8F9;
                        border: 1px solid #E3E7E9;
                        pointer-events: none;

                        input,
                        .ng-arrow-wrapper .ng-arrow::before {
                            color: #AFB6BD;
                        }
                    }
                }

                .basket-decor__object--select {
                    width: 100%;
                    padding: 0 5px;

                    @include xs {
                        padding: 0;
                        margin: 21px 0;
                    }
                }
            }

            &--textarea {
                &-write {
                    min-height: 93px;

                    textarea {
                        @include wh(100%, 93px);
                        font: 14px/18px $Regular;
                        color: $second_color;
                        letter-spacing: .9px;
                    }
                }
            }

            &--content {
                margin-top: 24px;
            }
        }

        &__services {
            margin-bottom: 29px;

            .checkbox-floor {
                margin-bottom: 26px;
            }

            &--indicate {
                margin-bottom: 29px;

                &-content {
                    margin: 0 -5px;

                    &__floor {
                        padding: 0 5px;

                        &--write {
                            @include wh(110px, 41px);

                            input {
                                @include wh(100%);
                                padding: 0 13px;
                                display: block;
                            }
                        }

                        .indicate-floor {
                            margin-left: 15px;
                        }
                    }

                    &__price {
                        padding: 0 5px;

                        span {
                            font: 18px $Semibold;
                            color: #3b474e;
                        }

                        .icon {
                            font-size: 12px;
                            color: #3b474e;
                            margin-left: 4px;
                        }
                    }
                }
            }
        }

        &__price {
            margin: 0 -24px;
            margin-bottom: 29px;

            &--list {
                padding: 0 24px;

                &-item {

                    &+& {
                        margin-top: 18px;
                    }

                    h4 {
                        font: 15.5px $Regular;
                        color: $second_color;
                    }

                    &__bold {
                        h4 {
                            font-weight: bold;
                        }

                        p {
                            span {
                                font: 27.5px/1 $Semibold;
                            }

                            .icon {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }

        &__total {
            &--price {
                border-bottom: 1px solid white;
                padding-bottom: 26px;
            }

            &--way {
                margin-bottom: 25px;

                ul {

                    li {
                        .checkbox {
                            input[disabled]~.checkbox-name {
                                color: #a7a7a7;
                            }

                            .new-icon {
                                font-size: 24px;
                                color: var(--global_color);
                            }
                        }

                        &+li {
                            margin-top: 19px;
                        }
                    }
                }
            }
        }

        &__debt {
            margin-bottom: 50px;

            &--cnt {
                margin-top: 41px;
                overflow-x: auto;

                &-box {
                    min-width: 436px;
                    border-radius: 10px;
                    background-color: #ffffff;
                    padding: 25px 25px 25px 13px;

                    &+& {
                        margin-top: 15px;
                    }

                    &__deferment {
                        margin-bottom: 14px;

                        &--title {
                            font: 10.5px $Semibold;
                            color: rgba(47, 64, 69, 0.5);
                            letter-spacing: .53px;
                            margin-bottom: 14px;
                            text-transform: uppercase;
                        }

                        &--info {
                            p {
                                font: 15.5px/1 $Semibold;
                                color: $second_color;
                                margin-right: 17px;
                            }

                            span {
                                font: 13px $Semibold;
                                color: rgba(47, 64, 69, 0.5);
                            }
                        }
                    }

                    &__info {
                        table {
                            width: 100%;

                            thead tr th {
                                font: 10.5px $Semibold !important; // pending changes ...
                                color: rgba($second_color, 0.5);
                                letter-spacing: .53px;
                                padding-bottom: 13px;
                                text-transform: uppercase;
                            }

                            tbody tr td {
                                font: 13px $Semibold;
                                color: $second_color;
                                padding: 10px 0;
                                vertical-align: middle;

                                h4 {
                                    font: 13px $Regular;
                                }

                                a {
                                    color: $second_color;
                                    font: 13px $Bold;
                                    display: inline-block;
                                    border-bottom: 0.5px solid rgba($second_color, .5);
                                    transition: $transition;
                                    line-height: 1;

                                    &:hover {
                                        color: var(--global_color);
                                        border-bottom: 0.5px solid rgba(var(--global_color), .5);
                                    }
                                }

                                p {
                                    span {
                                        margin-right: 2px;
                                    }

                                    .icon-rub {
                                        font-size: 9px;
                                    }

                                    .icon-exclamatory {
                                        font-size: 12px;
                                    }
                                }
                            }

                            tr {
                                border-bottom: solid 1px #ebebeb;
                            }
                        }
                    }
                }
            }
        }

        &__btn {
            @include wh(100%, 44px);
            margin-top: 56px;
            margin-bottom: 38px;
        }
    }
}