$fa-font-path: "~font-awesome/fonts";

.serviceBlock {
    width: 676px !important;
    background-color: #f1f3f3;
    border: black;
    height: 294px !important;
    margin-bottom: 2px !important;
}

.element {
    padding: 20px;
}

.left {
    float: left;
    font-size: 18px;
}

.font {
    font-size: 18px;
}

.information {
    margin-left: 20px;
}

.detailed {
    float: left;
    margin-right: 300px !important;
    margin-left: 20px;
}
