<!-- empty search-empty-->
<div class="empty empty--search-empty">
 <div class="container">
  <div class="row no-gutter">
   <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 order-sm-to-2">

    <div class="empty__col-1">
     <h1 class="empty__title empty__title--search-empty">
      К сожалению по вашему запросу
      ничего не найдено!
     </h1>
     <div class="empty__descr">
      Вы можете изменить критерии поиска или связаться с личным консультантом по бесплатному номеру:
     </div>
     <span class="empty__descr-phone">
      +7 (499) 391-40-40
     </span>

     <div class="empty__btn-cell">
      <button (click)="goToCatalog()" class="btn btn--red btn--corner btn--profile-btns">Перейти в каталог</button>
     </div>

    </div>
   </div>
   <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 order-sm-to-1">

    <div class="empty__col-2">
     <img src="/assets/img/not-found.jpg" class="empty__img empty__img--product-not-founde" width="357" height="366">
    </div>

   </div>
  </div>
 </div>
</div>
<!-- /empty search-empty-->
