<div class="change-password modal-container">
   <span class="icon icon-close icon-close__modal" (click)="dialogRef.close()"></span>
   <div class="modal-title">
      <h2>Смена пароля</h2>
   </div>
   <div class="modal-box">
      <form #changePasswordForm="ngForm" (keydown.enter)="goToChangePasswordByUser()">
         <div class="modal-box__area">
            <div class="modal-box__area--input">
               <input type="password" required name="oldPasswordInput" id="oldPasswordInput" [(ngModel)]="oldPassword"
                  placeholder="Старый пароль *" />
            </div>

            <div class="modal-box__area--input"
               [ngClass]="{'required' : (passwordInput.dirty || passwordInput.touched) && !correctPassword}">
               <input type="password" required name="newPasswordInput" id="newPasswordInput" [(ngModel)]="newPassword"
                  placeholder="Новый пароль *" #passwordInput="ngModel" />
               <p class="required-tooltip d_none">{{passwordValidationText}}</p>
            </div>

            <div class="modal-box__area--input">
               <input type="password" required name="reNewPasswordInput" id="reNewPasswordInput"
                  [(ngModel)]="newPasswordConfirmation" placeholder="Подтверждение нового пароля *" />
            </div>
         </div>

         <div class="change-password__btn modal-box__btn btn-global">
            <button class="btn-global__red" type="button" (click)="goToChangePasswordByUser()">СОХРАНИТЬ</button>
         </div>
      </form>
   </div>
</div>