<div class="create-archive modal-content__box animate_show_fadeIn">
   <div class="create-archive__title" id="CreatingArchive">
      <h2>Формируем архив</h2>
   </div>

   <div class="create-archive__info">
      <div class="create-archive__info--loading d-f f-w j-c-c">
         <span class="create-archive__info--loading-item create-archive__info--loading-item__1"></span>
         <span class="create-archive__info--loading-item create-archive__info--loading-item__2"></span>
         <span class="create-archive__info--loading-item create-archive__info--loading-item__3"></span>
         <span class="create-archive__info--loading-item create-archive__info--loading-item__4"></span>
      </div>
      <div class="create-archive__info--text" id="PackingArchive">
         <h3>Пожалуйста, подождите...</h3>
         <p>Упаковываем {{fileName}} в архив Скачивание начнется автоматически</p>
      </div>
   </div>
</div>
